@{
    ViewData["Title"] = "ContactPro";
    Layout = "~/Views/Shared/_LayoutLander.cshtml";
}

<div class="row">
    <div class="col-12 col-md-6 ">
        <h1 class="herotitle">
           <br />
            <br />
            <br />
            
            All Your <span>Contacts</span> In One Place
        </h1>
        <div class="subtitle">
            <br />
            Organize your events by keeping everyone in the loop.
            Experience the power of ContactPro - and demo it today!
            <br />
          
            <br />
            <br />
            <strong> Built with pride using cutting edge tech:</strong>
            <br />
            <i class="devicon-dot-net-plain-wordmark colored icon"></i>
            <i class="devicon-csharp-plain-wordmark colored icon"></i>
            <i class="devicon-postgresql-plain-wordmark colored icon"></i>
            <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
            <i class="devicon-Railway-plain-wordmark colored icon"></i>
        </div>
    </div>
    <div class="col-12 col-md-6 order-first order-md-last">
        
        <img src="~/img/Contact us-amico.svg" class="img-fluid" height="50"/>
    </div>
    
</div>
